@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
:root {
    --black: #333;
    --green: #017143;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
}
.dark {
    --black: #fff;
    --white: #333; 
}
.homepage {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--white);
}
header {
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 40px;
    z-index: 1;
    background: var(--white);
}
.logo {
    font-size: 30px;
    color: var(--black);
    font-weight: 800;
}
.navigation {
    position: relative;
    display: flex;
}
.navigation li {
    list-style: none;
}
.navigation a {
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
}
.navigation a:hover {
    color: #017143;
}
.navigation .fa {
    color: var(--black);
    font-size: 20px;
    cursor: pointer;
}
.navigation .fa.active::before {
    content: '\f185';
    font-family: fontAwesome;
}
.home-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 100px;
}
.home-para {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
}
.home-para h1 {
    font-size: 60px;
    color: var(--green);
}
.home-para p {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 20px;
    font-weight: 800px;
}
.home-para a {
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    width: 130px;
}
.dark .home-para a {
    color: #fff;
}
.home-img {
    max-width: 700px;
}
.home-img img {
    width: 500px;
}
.about {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: var(--white);
}

.about img {
    max-width: 600px;
    padding: 0px 70px 30px 100px;
}
.about-content {
    padding: 90px 50px;
}
.about-content h3 {
    color: var(--green);
}
.about-content h1 {
    color: var(--black);
    font-size: 30px;
}
.about-content p {
    color: var(--black);
    font-size: 16px;
    margin-bottom: 40px;
}
.about-content a {
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    width: 170px;
}
.dark .about-content a {
    color: #fff;
}
.about .fa-chevron-circle-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 50px;
    color: var(--green);
    cursor: pointer;
}
.dark .about .fa-chevron-circle-up {
    color: #fff;
}
.services {
    position: relative;
    width: 100%;
    z-index: -1;
    background: var(--white);
}
.service-header {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-header h3 {
    color: var(--green);
}
.service-header h1 {
    color: var(--black);
    font-size: 30px;
}
.service-para {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
    text-align: center;
}
.service-offered {
    max-width: 350px;
}
.service-offered img {
    max-width: 80px;
}
.service-offered h2 {
    color: var(--black);
    margin-top: -70px;
    font-size: 30px;   
}
.service-offered p {
    color: var(--black);
    font-size: 16px;
}
.menu {
    position: relative;
    background: var(--white);
    z-index: -1;
}
.menu-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 40px;
}
.menu-header h3 {
    color: var(--green);
}
.menu-header h1 {
    font-size: 30px;
    color: var(--black);
}
.menu-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu-para {
    position: relative;
    margin: 20px;
    background: var(--white);
    width: 300px;
    box-shadow: 2px 4px 8px rgb(31, 30, 30);
    border-radius: 10px;
    padding: 30px;
}
.menu-para img {
    max-width: 150px;
    margin-left: 40px;
}
.menu-para h2 {
    color: var(--black);
    margin-bottom: 10px;
}
.menu-para h4 {
    color: var(--black);
    margin-bottom: 10px;
}
.menu-para p {
    color: var(--black);
}
.menu-para .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
    background: var(--green);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px;
    color: var(--white);
}
.contact {
    background: var(--white);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    z-index: -1;
}
.contact img {
    max-width: 500px;
    height: 700px;
}
.contact-content {
    padding: 200px 20px;
    max-width: 700px;
}
.contact-content h3 {
    color: var(--green);
    margin-bottom: 20px;
}
.contact-content h1 {
    color: var(--black);
    font-size: 30px;
    margin-bottom: 10px;
}
.contact-content p {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 40px;
}
.contact-info {
    display: flex;
}
.contact-info img {
    max-width: 130px;
    height: 50px;
}
.contact-info .image-two {
    margin-left: 20px;
}
.contact-us {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: var(--white);
    padding: 40px 100px 150px 100px;
    z-index: -1;
}
.contactus-content {
    max-width: 650px;
}
.contactus-content h3 {
    color: var(--green);
}
.contactus-content h1 {
    font-size: 30px;
    color: var(--black);
}
.contactus-content p {
    font-size: 18px;
    color: var(--black);
}
.contactus-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.contactus-button a {
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    width: 200px;
    cursor: pointer;
}
.dark .contactus-button a {
    color: #fff;
}
.footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    background: var(--white);
    z-index: -1;
}
.footer-content h2{
    color: var(--green);
}
.footer-content p {
    color: var(--black);
}
.socials .fa {
    margin-top: 25px;
    color: var(--black);
}
.socials .fa-instagram, .fa-twitter{
    margin-left: 20px;
}
.footer-content-info {
    line-height: 40px;
    color: var(--black);
}
.last-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--white);
}
.last-footer p {
    color: var(--black);
}

@media (max-width: 790px) {
    .navigation {
        display: none;
    }
    .navigation.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        align-items: center;
        background: var(--white);
    }
    .navigation a {
        font-size: 16px;
        font-weight: 500;
    }
    .navigation li {
        margin: 8px;
    }
    .toggle {
        position: relative;
        width: 25px;
        height: 30px;
        background: url(./img/menu.png);
        background-size: 25px;
        z-index: 1000;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        filter: invert(1);
    }
    .toggle.active {
        background: url(./img/close.png);
        filter: invert(1);
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dark .toggle {
        filter: invert(0);
    }

    .home-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 100px;
    }
    .home-para {
       width: 100%;
       padding: 20px;
    }
    .home-para h1 {
        font-size: 40px;
    }
    .home-para p {
        font-size: 20px;
    }
    .home-para a {
        font-size: 15px;
        width: 120px;
    }
    .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .home-img img {
        width: 300px;
    }
    .about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
   .about img {
        width: 100%;
    }
    .about-content h1 {
        font-size: 20px;
    }
    .about-content p {        
      font-size: 14px;
    }
    .about-content a {
        font-size: 15px;
        width: 170px;
    }

    .about .fa-chevron-circle-up {
        font-size: 40px;
    }
    .service-header h1 {
        font-size: 20px;
    }
    .service-para {
        display: flex;
        flex-direction: column;
    }
    .service-offered {
        width: 100%;
        margin-bottom: 30px;
    }
    .service-offered h2 {
        font-size: 20px;   
    }
    .service-offered p {
        font-size: 14px;
    }
    .menu-header h3 {
        font-size: 16px;
    }
    .menu-header h1 {
        font-size: 20px;
    }
    .menu-content {
        display: grid;
        grid-template-columns: 220px 220px;
    }
    .menu-para {
        margin: 10px;
        width: 200px;
        border-radius: 10px;
        padding: 30px;
    }
    .menu-para img {
        max-width: 100px;
        margin-left: 20px;
    }
    .menu-para h2 {
        font-size: 16px;
    }
    .menu-para h4 {
        font-size: 14px;
    }
    .menu-para p {
        font-size: 12px;
    }
    .menu-para .fa {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
    .dark .menu-para .fa {
        color: #fff;
    }
    .contact {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contact img {
        width: 250px;
        height: 350px;
    }
    .contact-content {
        padding: 20px;
        width: 100%;
    }
    .contact-content h3 {
        margin-bottom: 10px;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .contact-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .contact-info {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contact-info img {
        max-width: 130px;
        height: 50px;
    }
    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contactus-content {
        width: 100%;
    }
    .contactus-content h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contactus-content p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .contactus-button {
        margin-top: 20px;
    }
    .contactus-button a {
        font-size: 15px;
        width: 150px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }
}